<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @{ var telerikUiForBlazorVersion = TelerikBlazorWasm.Client.Layout.MainLayout.GetTelerikUiForBlazorVersion(); }
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js?@telerikUiForBlazorVersion" defer></script>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TelerikBlazorWasm.styles.css" />
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-$THEME$/all.css?@telerikUiForBlazorVersion" />
    @*#if (icontype == "Font")
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-font-icons/font-icons.css?@telerikUiForBlazorVersion" />
    #endif*@
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@Interactive$RENDER_MODE$" />
</head>

<body>
    <Routes @rendermode="@Interactive$RENDER_MODE$" />
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            Blazor.start();
        });
    </script>
</body>

</html>
