@using Microsoft.AspNetCore.Components.Web
@namespace TelerikBlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    @{
        string telerikBlazorAssemblyVersion = typeof(Telerik.Blazor.Components.TelerikRootComponent).Assembly.GetName().Version?.ToString() ?? "0.0.0.0";
        int lastDotIndex = telerikBlazorAssemblyVersion.LastIndexOf(".");
        string TelerikUiForBlazorVersion = telerikBlazorAssemblyVersion.Substring(0, lastDotIndex);
    }
    @*#if (cdn)
    <script src="https://blazor.cdn.telerik.com/blazor/@TelerikUiForBlazorVersion/telerik-blazor.min.js" defer></script>
    <link rel="stylesheet" href="https://blazor.cdn.telerik.com/blazor/@TelerikUiForBlazorVersion/kendo-theme-{TVAR_THEME}/swatches/{TVAR_THEME}-main{TVAR_THEMESUFFIX}.css" />
    @*#if (icon-type == "Font")
    <link rel="stylesheet" href="https://blazor.cdn.telerik.com/blazor/@TelerikUiForBlazorVersion/kendo-font-icons/font-icons.css" />
    #endif*@
    #else
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js?@TelerikUiForBlazorVersion" defer></script>
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-{TVAR_THEME}/all.css?@TelerikUiForBlazorVersion" />
    @*#if (icon-type == "Font")
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-font-icons/font-icons.css?@TelerikUiForBlazorVersion" />
    #endif*@
    #endif*@
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="TelerikBlazorServer.styles.css" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
@*#if (rtl)
<body dir="rtl" class="k-body">
#else
<body class="k-body">
#endif*@
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Blazor.start();
        });
    </script>
</body>
</html>